<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <package name="com.hyejineee.ploggingprojectbackend.vo"/>
        <package name="com.hyejineee.ploggingprojectbackend.service.dto"/>
    </typeAliases>
    <mappers>
        <mapper resource="mybatis/mappers/member.xml"/>
        <mapper resource="mybatis/mappers/user.xml"/>

    </mappers>
</configuration>
